$purple: #5A58CF;
$purple-light: rgba(90, 88, 207, 0.15);
$blue: #408BFC;
$blue-light: rgba(64, 139, 252, 0.15);
$green: #4F6258;
$green-light: rgba(38, 134, 83, 0.2);
$orange: #F9D270;
$orange-light: rgba(249, 210, 112, 0.25);
$pink: #FBDECA;
$pink-light: #FBCACA;
$color-text-header: #10100E;
$black-color-text: #000000;
$button-not-active: #F6F6F6

