@import "reset";
@import "variables";
@import "./fonts/stylesheet.css";


body {
  font-family: GreycillffCF, sans-serif;
  font-weight: 400;
  min-width: 375px;
}

html {
  scroll-behavior: smooth;
}

.main {
  height: 100%;
  min-height: 900px;
  overflow: hidden;


  .first-section {
    padding: 0 40px;
    position: fixed;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    min-height: 600px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .description-div {
      width: 50%;
      min-height: 300px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;


      .description-content {
        max-width: 570px;

        .description-header {
          font-size: 62px;
          font-weight: 700;
          margin-bottom: 24px;
          color: $color-text-header;
        }

        .description-text {
          font-family: QuincyCf, sans-serif;
          font-weight: 400;
          font-size: 20px;
          line-height: 1.5em;
          margin-bottom: 38px;
          color: $black-color-text;
        }
      }
    }

    .buttons-container {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-flow: row wrap;
      gap: 12px;
      max-width: 401px;
    }

    .select-button {
      min-width: 31%;
      max-height: 56px;

      opacity: 0.6;


      display: flex;
      justify-content: center;
      align-items: center;

      border-radius: 100px;
      overflow: hidden;

      background-color: $button-not-active;

      cursor: pointer;

      .inner-button-div {
        width: 100%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 10px;
        padding: 12px;
      }

      .button-image-div {
        position: relative;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
      }

      .button-text {
        font-size: 18px;
        font-weight: 700;
        color: $color-text-header;
      }
    }

    #doctor-button {

      .button-image-div {
        background-color: $purple;
      }
    }

    #coach-button {

      .button-image-div {
        background-color: $blue;
      }
    }

    #app-button {

      .button-image-div {
        background-color: $green;
      }
    }

    #medication-button {

      .button-image-div {
        background-color: $orange;
      }
    }

    #community-button {

      .button-image-div {
        background-color: $pink;
      }
    }

    .select-button-active {

      opacity: 1;

      background-color: $purple-light;

      &:nth-child(2) {
        background-color: $blue-light;
      }

      &:nth-child(3) {
        background-color: $green-light;
      }

      &:nth-child(4) {
        background-color: $orange-light;
      }

      &:nth-child(5) {
        background-color: $pink-light;
      }

      //#doctor-button {
      //
      //  background-color: $purple-light;
      //
      //
      //  .button-image-div {
      //    background-color: $purple;
      //  }
      //}
      //
      //#coach-button {
      //
      //  .inner-button-div {
      //    background-color: $blue-light;
      //  }
      //
      //  .button-image-div {
      //    background-color: $blue;
      //  }
      //}
      //
      //#app-button {
      //  .inner-button-div {
      //    background-color: $green-light;
      //  }
      //
      //  .button-image-div {
      //    background-color: $green;
      //  }
      //}
      //
      //#medication-button {
      //  .inner-button-div {
      //    background-color: $orange-light;
      //  }
      //
      //  .button-image-div {
      //    background-color: $orange;
      //  }
      //}
      //
      //#community-button {
      //
      //  .inner-button-div {
      //    background-color: $pink-light;
      //  }
      //
      //  .button-image-div {
      //    background-color: $pink;
      //  }
      //}
    }


    .card-background {
      position: relative;

      width: 50%;
      height: 100%;

    }

  }

  .cards-div {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left: auto;
    padding: 190px 40px 120px 0;


  }

  .cards-container {
    position: relative;

    display: flex;
    align-items: center;
    flex-direction: column;

    &::-webkit-scrollbar {
      display: none;
    }

    .card {
      background-color: #FFFFFF;
      box-shadow: 0 20px 40px rgba(47, 47, 47, 0.2);
      border-radius: 10px;
      margin: auto;

      padding: 28px;

      max-width: 452px;

      &:not(:last-child ) {
        margin-bottom: 80px;
      }


      .card-content {
        max-width: 352px;
      }

      .card-header {
        display: flex;
        align-items: center;
        column-gap: 18px;

        padding-bottom: 24px;

        .card-header-text {
          font-weight: 700;
          font-size: 28px;
          color: $color-text-header;
        }
      }

      .card-main {
        display: flex;
        flex-direction: column;
        row-gap: 12px;
        margin-bottom: 40px;

        .after-header-text {
          font-size: 18px;
          margin-bottom: 14px;
        }

        .main-item {
          display: flex;
          column-gap: 10px;

          .item-text {
            font-size: 18px;
            font-weight: 400;
            color: $black-color-text;
            position: relative;

            display: flex;
            column-gap: 13px;
          }

          .item-svg {
            min-width: 16px;
            height: 16px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }

      .card-footer {
        display: flex;
        flex-direction: column;
        row-gap: 24px;

        .continue-button {
          background-color: $color-text-header;
          height: 44px;
          text-align: center;
          color: #FFFFFF;
          border: none;

          font-weight: 600;
          font-size: 16px;

          border-radius: 5px;

          cursor: pointer;
        }

        .starting-price {
          color: $color-text-header;
          text-align: center;
        }
      }
    }
  }

  #doctor-card {
    .item-svg {
      background-color: $purple-light;
    }
  }

  #coach-card {
    .item-svg {
      background-color: $blue-light;
    }
  }

  #app-card {
    .item-svg {
      background-color: $green-light;
    }
  }

  #medication-card {
    .item-svg {
      background-color: $orange-light;
    }

    .medication-info {
      display: flex;
      justify-content: space-between;
      margin-bottom: 28px;

      .medication-cell-img {
        height: 11px;
        width: 11px;
      }

      .info-cell {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 8px;

        padding: 12px;

        background-color: $orange-light;

        border-radius: 8px;

        .cell-text {
          font-size: 14px;
          font-weight: 600;
          color: $color-text-header;
        }
      }
    }
  }

  #community-card {
    .item-svg {
      background-color: $pink-light;
    }
  }

  .desktop-hide {
    display: none;
  }

}

@media (max-width: 1200px) {
  .main {
    .first-section {
      .description-div {
        .description-content {
          .description-header {
            font-size: 50px;
          }
        }
      }

      .select-button {
        .button-text {
          font-size: 16px;
        }
      }
    }

    .cards-container {
      .card {
        .card-header {
          .card-header-text {
            font-size: 22px;
          }
        }

        .card-main {
          .main-item {
            .item-text {
              font-size: 16px;
            }
          }
        }

        .card-footer {
          .starting-price {
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media (max-width: 944px) {


  .main {
    position: relative;

    .desktop-hide {
      display: block;
    }

    .first-section {
      position: relative;
      flex-direction: column;
      padding: 80px 24px 0 24px;
      margin-bottom: 24px;
      min-height: 400px;

      .description-div {
        width: 100%;
      }

      .card-background {
        //position: absolute;
        //bottom: -568px;

        transform: rotate(90deg);
        width: unset;

        display: none;
      }
    }

    .cards-div {
      padding: 0 24px;
      margin: 0;
      width: 100%;

      min-height: 500px;

      .card-background {
        position: absolute;
        transform: rotate(90deg);
        min-width: 500px;
        max-width: 450px;
        height: 100vw;
        min-height: 375px;

        transition: 0.3s;
      }

      .cards-container {
        .card {
          opacity: 0;
          position: absolute;
          margin-bottom: 0;
          padding: 24px;

          min-width: 324px;

          transition: 0.3s;

          .card-header {
            padding-bottom: 16px;
          }

          .card-main {
            margin-bottom: 32px;

            .after-header-text {
              font-size: 16px;
            }
          }

          .card-header {
            column-gap: 10px;
          }
        }

        .card-active {
          opacity: 1;
          position: relative;
          bottom: 0;
          z-index: 3;
        }
      }


    }

    #medication-card {
      .medication-info {
        margin-bottom: 24px;

        .info-cell {
          padding: 8px;
          column-gap: 4px;

          .cell-text {
            font-size: 12px;
          }
        }
      }

    }
  }
}

@media (max-width: 404px) {
  .main {
    .cards-container {
      .card {
        .card-header {
          .card-header-text {
            font-size: 18px;
          }
        }
      }
    }
  }
}


